a:hover, a:visited, a:link, a:active,
a:-webkit-any-link {
    text-decoration: none !important;
}

table {
    border-collapse: collapse; /* Ensures borders are collapsed into a single border */
}

/* Target all table cells and headers */
table th, table td {
    border: none; /* Removes borders from table cells and headers */
}
