{{ define "main" }}
{{ if or (eq .Type "blog") (eq .Type "today") (eq .Params.menu.main.name "today") }}{{ if not .Params.menu }}
<h1>{{ .Title }}</h1>
<p>
  <i>
    <time datetime="{{ dateFormat "2006-01-02" .Params.customDate }}" pubdate>
      {{ dateFormat "January 2, 2006" .Params.customDate }}
    </time>
  </i>
</p>
{{ end }}{{ end }}
<content>
  {{ .Content }}
</content>
<div class="content-container">

  <div class="tags">
    {{ range (.GetTerms "tags") }}
      <a href="{{ .Permalink }}" class="tag-link" >#{{ .LinkTitle }}</a>
    {{ end }}
  </div>

  <div class="right-align">
    {{ $pages := where .Site.RegularPages.ByDate "Type" "blog" }}
    {{ with $pages.Next . }}
      <a href="{{ .RelPermalink }}"><<</a>
    {{ end }}

    {{ with $pages.Prev . }}
      <a href="{{ .RelPermalink }}">>></a>
    {{ end }}
  </div>

</div>
{{ end }}
